<div class="sidebar">
  <div class="sidebar-about">
    <h1>
      <a href="{{ "/" | relative_url }}">
        <img src="/style/img/f4inx-white.svg" alt=""/>
        {{ site.title }}
      </a>
    </h1>
    <p class="lead">{{ site.description }}</p>
  </div>

  <nav>
    <ul>
      <li>
        <a class="{% if page.title == "Home" %}active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
      </li>

      <li>
        Posts
        <ul>
          {% for post in site.posts %}
            <li>
              <a class="{% if page.url == post.url %}active{% endif %}" href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>

      <li>
        Misc pages
        <ul>
          {% for node in site.pages | sort:"order" %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
                <li>
                  <a class="{% if page.url == node.url %}active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>

  <p class="last-not-print">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. See <a href="{{ "/LICENCE.html" | relative_url }}">licence</a>. </p>

  <a class="print-only" href="{{ site.author.url  | append: page.url }}">{{ site.author.url  | append: page.url }}</a>
</div>
