---
---
/*******************************************************/
/* f4inx.css                                           */
/* Hadrien Theveneau, 2022                             */
/* Parts based on Hyde (https://github.com/poole/hyde) */
/* and Poole (https://github.com/poole/poole).         */
/*******************************************************/

/*****************/
/* Global layout */
/*****************/

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
body > * {
  flex: 1;
}
.sidebar {
  /* Uncomment the following line to make sidebar not stretch until bottom. */
  /* align-self: start; */
  /* Margins are taken into account differenly in original theme. */
  max-width: 14rem;
  /* Force the sidebar to be long when content is short */
  min-height: 100vh;
}
/* For mobiles */
@media (max-width: 48em) {
  .sidebar {
    flex: 1 100%; 
    max-width: none;
    /* Since the sidebar is at the head, make it as short as possible. */
    min-height: unset;
  }
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/*********/
/* Links */
/*********/

a {
  --links-color: #268bd2;
  color: var(--links-color);
  text-decoration: none;
}
h1 a,
h2 a,
h3 a,
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/************/
/* Headings */
/************/

/* Taken from poole.css */

/* Space for first title already taken into account in .contents */
.content .post:first-child h1 {
  margin-top: 0;
}

/* The following settings are already close to the defaults,
   but allows to keep the same values for headings in .related
   lists */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h2 + h3 {
  margin-top: 1rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/***********/
/* Sidebar */
/***********/

.sidebar {
  padding: 2rem 2rem;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
}

/* Sidebar logo */
.sidebar-about img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 0.4em;
  width: 85%;
}
@media (max-width: 48em) {
  .sidebar-about img {
    width: 0.83em;
    vertical-align: baseline;
    display: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    /* Align the cat */
    margin-bottom: -0.18em;
  }
}

/* Sidebar links */
.sidebar a {
  color: inherit;  /* Turn off usual color of links */
  text-decoration-thickness: 2px;
}

/* About section */
.sidebar-about h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.25rem;
  line-height: 0.8;
}
.sidebar-about .lead {
  /* font-size: 1.25rem; */
  /* font-weight: 300; */
}

/* Sidebar nav */
/* .sidebar-nav {
  margin-bottom: 1rem;
} */
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/****************/
/* Print layout */
/****************/

@media print {
  body {
    flex-flow: column;
  }
  .sidebar {
    background-color: unset;
    color: unset;
    max-width: unset;
    padding: unset;
    /* min-height forces the sidebar to be long when content is short */
    /* Useless by printing. */
    min-height: unset;
  }
  .sidebar-about > *:last-child {
    margin-bottom: 0;
  }
  .sidebar > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .sidebar img {
    content: url("{{ '/style/img/f4inx-black.svg' | absolute_url}}");
    width: 0.83em;
    vertical-align: baseline;
    display: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: -0.18em;  /* Align the cat */
  }
  .sidebar nav {
    display: none;
  }
  /* When printing, sidebar becomes an header. */
  /* So, links are displayed as for normal content. */
  .sidebar > a {
    color: var(--links-color);
    text-decoration: none;
  }
}
@media not print {
  .print-only {
    display: none;
  }
}

/****************************************************************************/
/* Posts and pages                                                          */
/*                                                                          */
/* Each post is wrapped in `.post` and is used on default and post layouts. */
/* Each page is wrapped in `.page` and is only used on the page layout.     */
/****************************************************************************/

.page,
.post {
  margin-bottom: 2em;
}

/* Separation bar between posts */
.post + .post {
  margin-top: 2em;
  border-top: 2px solid;
}
.post:last-of-type {
  padding-bottom: 1em;  /* FIXME: better substraction. */
  border-bottom: 2px solid;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: inherit;
  text-decoration-thickness: 2px;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  /* margin-bottom: 1rem; */
}

/* Introductory note at beginning */
.begin-note {
  font-style: italic;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid black;
}
.related h2 {
  margin-top: 0;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
  font-size: 1rem;  /* Better separation in this use case. */
}
.related-posts li small {
  font-size: 75%;
  font-weight: normal;
}
.related-posts li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
/* Print links urls only in related posts section since they */
/* are usually already shown in the remaining of the site.   */
@media print {
  .related-posts li a:after {
    content: attr(href);
    font-size: 75%;
    font-weight: normal;
  }
}


/************/
/* Contents */
/************/

.content {
    padding-top:    3rem;  /* To visually look likes a square */
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 37rem;  /* Smaller margins than Hyde/Poole */
}
@media (max-width: 48em) {
  .content {
    padding-top:    0.5rem;
    padding-bottom: 0.5rem;
    padding-left:    0.5rem;
    padding-right: 0.5rem;
    max-width: none;
  }
}
@media (max-width: 64em) {
  .content {
    padding-top:    2.0rem;
    padding-bottom: 2.0rem;
    padding-left:   2.0rem;
    padding-right:  2.0rem;
    max-width: 39rem;  /* Smaller margins than Hyde/Poole */
  }
}
@media print {
  .content {
    max-width: unset;
    padding: unset;
  }
}

/* Citations */
blockquote,
cite {
  margin-left: 1em;
  margin-right: 1em;
}
blockquote {
  display: block;
  quotes: "«\2005" "\2005»";
  font-style: italic;
}
blockquote > p:first-child:before {
  content: open-quote;
}
blockquote > p:last-child:after {
  content: close-quote;
}
cite {
  font-style: inherit;
}

/* Images */
img {
  max-width: 100%;
}
p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tables */
td {
  line-height: 0;
}

/* Math equations centering */
p mjx-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Math spacing in tables */
td mjx-container {
  margin-left: 1em;
  margin-right: 1em;
}


/*************/
/* Footnotes */
/*************/

.footnotes{
  border-top: 1px solid black;
}
/* 80% size only in main page post footnotes */
.posts > .post > .footnotes{
  border-top: none;
}
.posts > .post > .footnotes:before {
  border-top: 1px solid black;
  content: " ";
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a.reversefootnote {
  color: inherit;  /* People don't need color to guess they are clickable */
}

/**************/
/* Pagination */
/**************/

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
@media (min-width: 30em) {
  .pagination {
    margin-top: 3rem;
  }
}
@media print {
  .pagination {
    display: none;
  }
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  padding-top: calc(0.5em - 5px);
  padding-bottom: calc(0.5em - 5px);
  padding-left: calc(2em - 5px);
  padding-right: calc(2em - 5px);
  border: solid black 5px;  /* To make both buttons equal width. */
  border-radius: 999px;
  color: white;
  background: black;
}
.pagination-item:hover,
.pagination-item.hover-test {
  color: black;
  background: white;
  border: solid black 5px;
  text-decoration: none;
}

/**************/
/* Pagination */
/**************/
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  .sidebar {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
}

/*************/
/* Dark mode */
/*************/
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  .sidebar {
    border-right: 2px solid white;
    border-bottom: none;
  }
  @media (max-width: 48em) {
    .sidebar {
      border-right: none;
      border-bottom: 2px solid white;
    }
  }
  .schematic {
    filter: invert();
  }
}
